@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("../fonts/sourcesansprolight.woff2") format("woff2"), url("../fonts/sourcesansprolight.woff") format("woff"), url("../fonts/sourcesansprolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/sourcesanspro.woff2") format("woff2"), url("../fonts/sourcesanspro.woff") format("woff"), url("../fonts/sourcesanspro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/sourcesansprobold.woff2") format("woff2"), url("../fonts/sourcesansprobold.woff") format("woff"), url("../fonts/sourcesansprobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("../fonts/sourcesansprosemibold.woff2") format("woff2"), url("../fonts/sourcesansprosemibold.woff") format("woff"), url("../fonts/sourcesansprosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container, .about__container, .container__services, .footer__container {
  width: 73.125rem;
  margin: 0 auto;
}

.header-btn__btn, .about__btn, .pricing__btn, input[type="submit"], .promo__btn {
  background-color: #e74c3c;
  font: 700 0.875rem "Open Sans";
  color: #fff;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 0.1875rem;
  -webkit-box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.who-we-are__icons, .pricing__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f5f9;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.who-we-are__icons:after, .pricing__circle:after {
  background-color: transparent;
  border: 0.3125rem solid rgba(255, 255, 255, 0.25);
  border-bottom: 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.who-we-are__svg, .services__img {
  width: 30px;
  height: 30px;
}

h1 {
  color: #fff;
  word-spacing: 0.0625rem;
  letter-spacing: 0.4375rem;
  text-transform: uppercase;
  font: 700 4.5rem "Open Sans";
}

h2 {
  color: #6a6a6a;
  word-spacing: 0.1875rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  font: 700 2.25rem/1 "Source Sans Pro";
}

h3 {
  color: #6a6a6a;
  word-spacing: 0.0625rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font: 1.5rem "Source Sans Pro";
}

h4 {
  color: #6a6a6a;
  word-spacing: 0.0625rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font: 600 1.125rem "Open Sans";
}

p {
  color: #999;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: none;
  font: 0.875rem/1.7 "Open Sans";
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem 0;
}

.nav__item {
  margin-left: 3.75rem;
}

.nav__item--first-child:first-child {
  margin-left: 0;
}

.nav__item--nth-child-two:nth-child(2) {
  margin-left: 57px;
}

.nav__item--nth-child-three:nth-child(3) {
  margin-left: 59px;
}

.nav__item--nth-child-four:nth-child(4) {
  margin-left: 58px;
}

.nav__item--nth-child-five:nth-child(5) {
  margin-left: 57px;
}

.nav__item--last-child {
  margin-left: 3.5625rem;
}

.nav__link {
  display: block;
  padding-top: 1.25rem;
  padding-bottom: 1.125rem;
  font: 0.875rem "Open Sans";
  color: #f4f5f9;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  border-bottom: 0.0625rem solid transparent;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.nav__link--hover:hover {
  color: #e74c3c;
  text-shadow: 0.03125rem 0.03125rem 0 #e74c3c, 0.03125rem 0.03125rem 0 #e74c3c;
  border-bottom: 0.0625rem solid #e74c3c;
}

.figure, .header__figure {
  width: 17%;
  margin: 0 auto 2.25rem auto;
}

.figure__dot, .header__dot {
  position: relative;
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #e74c3c;
  margin: 0 auto;
  border-radius: 50%;
}

.figure__dot:before, .header__dot:before, .figure__dot:after, .header__dot:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 5rem;
  height: 0.0625rem;
  content: "";
  display: inline-block;
  text-align: center;
  background-color: #999;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.figure__dot:before, .header__dot:before {
  left: -6rem;
}

.figure__dot:after, .header__dot:after {
  left: 1.25rem;
}

.header-section {
  padding-bottom: 4rem;
  text-align: center;
}

.header-section__title {
  margin-bottom: 1.125rem;
}

.header-section__text {
  margin-bottom: 1.25rem;
  word-spacing: 1px;
}

.header__figure {
  margin-bottom: 0;
}

.header-page {
  background: rgba(0, 0, 0, 0.7) url(../img/header-bg.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  padding-bottom: 16.75rem;
  color: #f4f5f9;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
          clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
}

.header-page__title {
  padding-top: 11.625rem;
  margin-bottom: 1.125rem;
  color: #fff;
  text-transform: none;
}

.header-page__title--last-child {
  padding-top: 0;
  margin-bottom: 1.1875rem;
  color: #fff;
  word-spacing: 0.0625rem;
  letter-spacing: 0.4375rem;
  text-transform: uppercase;
}

.header-page__text {
  width: 52%;
  margin: 0 auto 4.3125rem auto;
  color: #cbc6c0;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header-btn__btn {
  background-color: transparent;
  width: 14.125rem;
  padding: 0.9375rem 0;
  margin-right: 1.875rem;
  border: 0.0625rem solid #fff;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.header-btn__btn--hover:hover {
  background-color: #e74c3c;
  border: 0.0625rem solid transparent;
}

.header-btn__btn--last-child:last-child {
  margin-right: 0;
}

.who-we-are {
  position: relative;
  background-color: #fff;
  padding-top: 7.5625rem;
  padding-bottom: 6.625rem;
  border-bottom: 0.0625rem solid #e6e7eb;
}

.who-we-are__icons {
  position: absolute;
  top: -1%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  content: "";
}

.who-we-are__icons--after:after {
  position: absolute;
  top: -0.3125rem;
  left: -0.3125rem;
  width: 4rem;
  height: 2rem;
  content: "";
}

.who-we-are__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.who-we-are__item {
  width: 21.4%;
  text-align: center;
}

.who-we-are__item--hover:hover .who-we-are__icon {
  border: 0.0625rem solid #e74c3c;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.who-we-are__item:hover .who-we-are__img {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.who-we-are__item:hover .who-we-are__title {
  color: #e74c3c;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.who-we-are__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.375rem;
  min-height: 4.375rem;
  margin: 0 auto 1.75rem auto;
  border: 0.0625rem solid #888;
}

.who-we-are__img {
  width: 1.6875rem;
  max-height: 1.6875rem;
}

.who-we-are__title {
  position: relative;
  margin-bottom: 1.8125rem;
  text-transform: uppercase;
}

.who-we-are__title--after:after {
  position: absolute;
  top: 2.4375rem;
  left: 50%;
  width: 2.8125rem;
  height: 0.125rem;
  content: "";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #888;
}

.who-we-are__text {
  font: 300 0.875rem/1.5 "Source Sans Pro";
  color: #999;
}

.about {
  background-color: #fff;
  padding-top: 8.8125rem;
  padding-bottom: 9.125rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  width: 43.3%;
  margin-right: 4.9375rem;
}

.about__title {
  position: relative;
  margin-bottom: 2.5625rem;
  margin-left: 2.25rem;
}

.about__title--before:before {
  position: absolute;
  top: 0;
  left: -2.1875rem;
  width: 0.375rem;
  height: 2.25rem;
  content: "";
  background-color: #e74c3c;
}

.about__text {
  margin-bottom: 2.0625rem;
  font-family: 'Sourse Sans Pro';
  line-height: 2;
  word-spacing: 2px;
}

.about__text--last-child {
  margin-bottom: 2.6875rem;
}

.about__btn {
  padding: 1.125rem 2.75rem;
}

.services {
  background: #202020 url(../img/services__img.jpg) no-repeat;
  background-position: 100% 0;
  background-size: 44% 100%;
  padding-top: 9.3125rem;
  padding-bottom: 8.3125rem;
  text-align: right;
}

.container__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-right: 21rem;
  margin-bottom: 4.1875rem;
  color: #fff;
}

.services__title--after:after {
  position: absolute;
  right: -34px;
  content: "";
  width: 0.3125rem;
  height: 2.25rem;
  background-color: #e74c3c;
}

.services__body {
  width: 60%;
}

.services__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.625rem;
}

.services__article--last-child:last-child {
  margin-bottom: 0;
}

.services__section {
  margin-right: 2.6875rem;
}

.services__ad {
  color: #e74c3c;
  word-spacing: 0.0625rem;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 0.375rem;
}

.services__text {
  font: 0.875rem/2 "Source Sans Pro";
  word-spacing: 2px;
}

.services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.375rem;
  height: 4.5rem;
  background-color: #fff;
  margin-top: 0.625rem;
  border-radius: 50%;
  border: 0.3125rem solid rgba(0, 0, 0, 0.25);
}

.pricing {
  background-color: #fff;
  text-align: center;
  border: 0.0625rem solid #f4f5f9;
  padding-top: 9.25rem;
  padding-bottom: 7.9375rem;
}

.pricing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.pricing__section {
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
}

.pricing__section--hover:hover .pricing__part--first-child:first-child,
.pricing__section--hover:hover .pricing__btn {
  background-color: #e74c3c;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.pricing__section--hover:hover .pricing__text {
  color: #e74c3c;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.pricing__part {
  position: relative;
  background-color: #999;
}

.pricing__part--last-child:last-child {
  background-color: #f4f5f9;
  padding-top: 7.75rem;
  padding-bottom: 3.125rem;
}

.pricing__title {
  color: #fff;
  word-spacing: 0;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding-top: 2.5rem;
  padding-bottom: 8.125rem;
  font-family: 'Open Sans';
  font-weight: 600;
}

.pricing__circle {
  position: absolute;
  top: 102%;
  left: 50%;
  width: 9.8125rem;
  height: 9.8125rem;
  content: "";
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.pricing__circle--after:after {
  position: absolute;
  top: -0.625rem;
  left: -0.625rem;
  width: 9.75rem;
  height: 5rem;
  content: "";
  border-width: 0.625rem;
}

.pricing__text {
  font: 700 2.5rem "Source Sans Pro";
}

.pricing__span {
  display: block;
  font: 0.8125rem "Source Sans Pro";
  color: #999;
}

.prising__list {
  margin-bottom: 3rem;
}

.pricing__item {
  color: #999;
  word-spacing: 0;
  letter-spacing: 0.0625rem;
  text-transform: none;
  margin-bottom: 1.375rem;
  font: 0.875rem "Source Sans Pro";
}

.pricing__item--last-child:last-child {
  margin-bottom: 0;
}

.pricing__btn {
  background-color: #999;
  padding: 1.0625rem 2.125rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.clients {
  background-color: #f4f5f9;
  text-align: center;
  border: 0.0625rem solid #d8d9db;
  padding-top: 8.875rem;
  padding-bottom: 8.625rem;
}

.clients__title {
  word-spacing: 0;
  letter-spacing: 0;
}

.clients__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__text {
  margin-bottom: 0;
}

.clients__item {
  width: 13.125rem;
  height: 6.25rem;
  background: #000 url(../img/clients-sprites.png) no-repeat;
  margin-bottom: 1.875rem;
  -webkit-box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.25);
}

.clients__item--nth-last-child:nth-last-child(-n+5) {
  margin-bottom: 0;
}

.clients__img-one {
  background-position: -29.375rem -15.625rem;
}

.clients__img-one--hover:hover {
  background-position: -0.625rem -23.125rem;
}

.clients__img-two {
  background-position: -43.75rem -23.125rem;
}

.clients__img-two--hover:hover {
  background-position: -43.75rem -30.625rem;
}

.clients__img-three {
  background-position: -43.75rem -8.125rem;
}

.clients__img-three--hover:hover {
  background-position: -43.75rem -15.625rem;
}

.clients__img-four {
  background-position: -0.625rem -15.625rem;
}

.clients__img-four--hover:hover {
  background-position: -15rem -15.625rem;
}

.clients__img-five {
  background-position: -0.625rem -8.125rem;
}

.clients__img-five--hover:hover {
  background-position: -15rem -8.125rem;
}

.clients__img-six {
  background-position: -0.625rem -30.625rem;
}

.clients__img-six--hover:hover {
  background-position: -15rem -30.625rem;
}

.clients__img-seven {
  background-position: -0.625rem -0.625rem;
}

.clients__img-seven--hover:hover {
  background-position: -29.375rem -23.125rem;
}

.clients__img-eight {
  background-position: -15rem -0.625rem;
}

.clients__img-eight--hover:hover {
  background-position: -15rem -23.125rem;
}

.clients__img-nine {
  background-position: -29.375rem -0.625rem;
}

.clients__img-nine--hover:hover {
  background-position: -29.375rem -8.125rem;
}

.clients__img-ten {
  background-position: -29.375rem -30.625rem;
}

.clients__img-ten--hover:hover {
  background-position: -43.75rem -0.625rem;
}

.blog {
  background-color: #f4f5f9;
  padding-top: 7rem;
}

.blog__caption {
  word-spacing: 0;
  letter-spacing: 0;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.blog__section {
  position: relative;
}

.blog__part-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  background-color: #e74e3e;
  color: #fff;
}

.blog__part-two--before:before {
  position: absolute;
  top: 50%;
  left: -8.5%;
  width: 0;
  height: 0;
  content: "";
  border: 1.875rem solid transparent;
  border-right: 1.875rem solid #e74e3e;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog__span {
  display: block;
  padding-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  margin-left: 2.1875rem;
  font: 0.75rem "Open Sans";
}

.blog__title {
  position: relative;
  margin-bottom: 2.1875rem;
  margin-left: 2.1875rem;
  color: #fff;
}

.blog__title--after:after {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 3.125rem;
  height: 0.125rem;
  content: "";
  background-color: #fff;
}

.blog__text {
  margin-bottom: 1.5625rem;
  margin-left: 2.1875rem;
  font: 0.875rem/1.7 "Open Sans";
  color: #fff;
}

.blog__link {
  margin-left: 2.1875rem;
  font: 600 1rem "Open Sans";
  font-style: italic;
  color: #fff;
}

.blog__link--hover:hover {
  text-decoration: underline;
}

.blog__item--hover:hover .blog__part-two {
  opacity: 1;
  -webkit-transition: all .2s ease-in .2s;
  -o-transition: all .2s ease-in .2s;
  transition: all .2s ease-in .2s;
}

.contact {
  background-color: #f4f5f9;
  padding-top: 9.3125rem;
  padding-bottom: 9.5rem;
}

.contact__header {
  padding-bottom: 1.8125rem;
}

.contact__caption {
  word-spacing: 0;
  letter-spacing: 0;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact__adress {
  -ms-flex-preferred-size: 41%;
      flex-basis: 41%;
  background-color: #fff;
  padding: 5.6875rem 5.625rem 5.8125rem 5.625rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.25);
}

.contact__item {
  margin-bottom: 3rem;
}

.contact__item--last-child:last-child {
  margin-bottom: 0;
}

.contact__title {
  margin-bottom: 0.875rem;
  color: #e74e3e;
}

.contact__text {
  font-size: 1.125rem;
}

.contact__form {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
  background-color: #fff;
  padding: 5rem 6.1875rem 0 6.1875rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.3rem 0.025rem rgba(0, 0, 0, 0.25);
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.9375rem 0.3125rem 0.9375rem 0.3125rem;
  margin-bottom: 0.6875rem;
  font: 600 0.875rem "Open Sans";
  color: #999;
  border: none;
  border-bottom: 0.0625rem solid #dbdbdb;
}

#contact__subject {
  margin-bottom: 1.25rem;
}

textarea {
  width: 100%;
  min-height: 5.375rem;
  padding: 0.3125rem 0.3125rem 1.875rem 0.3125rem;
  margin-bottom: 1.375rem;
  font: 600 0.875rem "Open Sans";
  border: none;
  border-bottom: 0.0625rem solid #dbdbdb;
  resize: none;
}

input[type="submit"] {
  color: #fff;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: #e74e3e;
  padding: 0.8125rem 1.625rem;
  border: none;
}

.promo {
  background: rgba(0, 0, 0, 0.7) url(../img/promo-bg.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: darken;
  padding-top: 9.1875rem;
  padding-bottom: 8.5625rem;
  text-align: center;
}

.promo__section {
  padding-bottom: 0;
}

.promo__title {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #fff;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: none;
}

.promo__text {
  margin-bottom: 62px;
  color: #fff;
}

.promo__span {
  font-weight: 700;
}

.promo__btn {
  background-color: #e74e3e;
  color: #fff;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 1.125rem 48px;
}

.footer-page {
  background-color: #202020;
  padding: 2rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer__img {
  width: 1.25rem;
  height: 1.625rem;
  margin-right: 0.9375rem;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
}

.footer__img--hover:hover {
  fill: #e74e3e;
}

.footer__img--last-child:last-child {
  margin-right: 0;
}

.footer__text {
  font-weight: 600;
  opacity: 0.75;
}
