.footer-page{
    background-color: #202020;
    padding: rem(32px) 0;
}

.footer__container{
    @include flex(flex, space-between);
    @extend .container;
}

.footer__social{
    @include flex(flex, space-between);
}

.footer__img{
    width: rem(20px);
    height: rem(26px);
    margin-right: rem(15px);
    fill: #fff;
    cursor: pointer;
    transition: all .1s ease-in .1s;

    &--hover:hover{
        fill: #e74e3e;
    }

    &--last-child:last-child{
        margin-right: 0;
    }
}

.footer__text{
    font-weight: 600;
    opacity: 0.75;
}
